<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image"></div>
      <mat-card-title><b>Edward Yu</b></mat-card-title>
      <mat-card-subtitle><b>Information Technology Student</b></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/evsu.jpg" alt="Photo of EVSU">
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>person</mat-icon>Full Name</mat-label>
          <b><input matInput placeholder="Ex: Maria" value="Edward Caldosa Yu"></b>
        </mat-form-field>
      </form>
  
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>info</mat-icon>Age</mat-label>
          <b><input matInput placeholder="Ex. 19" value="20"></b>
        </mat-form-field>
      </form>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>info</mat-icon>Course/Year/Section</mat-label>
          <b><input matInput placeholder="Ex. BSIE-1A" value="BSIT-3D"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>school</mat-icon>ID Number</mat-label>
          <b><input matInput placeholder="Ex. 2021-10191" value="2020-04361"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>place</mat-icon>School Campus</mat-label>
          <b><input matInput placeholder="Ex. EVSU-CC" value="Eastern Visayas State University- Main Campus"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>address</mat-icon>Address</mat-label>
          <b><input matInput placeholder="Ex. Tacloban, City" value="Brgy. Binotong Alangalang, Leyte"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>phone</mat-icon>Contact Number</mat-label>
          <b><input matInput placeholder="Ex. 09123456789" value="09207296117"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>email</mat-icon>Email</mat-label>
          <b><input matInput placeholder="Ex. abc@gmail.com" value="edward.yu@evsu.edu.ph"></b>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-icon>facebook</mat-icon>Facebook Account</mat-label>
          <b><input matInput placeholder="Ex. Mark Zuckerberg" value="Edward Yu"></b>
        </mat-form-field>
      </form>
  
      
  
     