<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image"></div>
      <mat-card-title>Edward Yu</mat-card-title>
      <mat-card-subtitle><mat-icon>school</mat-icon>BSIT-3D</mat-card-subtitle>  
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>email</mat-icon>edward.yu@evsu.edu.ph</p>
        <p><mat-icon>phone</mat-icon>09207296117</p>
        <p><mat-icon>facebook</mat-icon>Edward Yu</p>
    </mat-card-content>
</mat-card>
<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image1"></div>
      <mat-card-title>Gwyneth Claire Sotto</mat-card-title>
      <mat-card-subtitle><mat-icon>school</mat-icon>BSCE-3B</mat-card-subtitle>  
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>email</mat-icon>gwynethclaire.sotto@evsu.edu.ph</p>
        <p><mat-icon>phone</mat-icon>09087464970</p>
        <p><mat-icon>facebook</mat-icon>Gwyneth Claire Sotto</p>
    </mat-card-content>
</mat-card>
<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image2"></div>
      <mat-card-title>Angelo Villafranca</mat-card-title>
      <mat-card-subtitle><mat-icon>school</mat-icon>BSIT-3D</mat-card-subtitle>  
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>email</mat-icon>angelo.villafranca@evsu.edu.ph</p>
        <p><mat-icon>phone</mat-icon>09121566138</p>
        <p><mat-icon>facebook</mat-icon>Angelo Villafranca</p>
    </mat-card-content>
</mat-card>
<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image3"></div>
      <mat-card-title>Ellen Marie Salceda</mat-card-title>
      <mat-card-subtitle><mat-icon>school</mat-icon>BSA-3A</mat-card-subtitle>  
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>email</mat-icon>ellenmarie.salceda@evsu.edu.ph</p>
        <p><mat-icon>phone</mat-icon>09121566136</p>
        <p><mat-icon>facebook</mat-icon>Ellen Salceda</p>
    </mat-card-content>
</mat-card>
<mat-card class="app-card">
    <mat-card-header>
      <div mat-card-avatar class="app-header-image4"></div>
      <mat-card-title>Sales</mat-card-title>
      <mat-card-subtitle><mat-icon>school</mat-icon>BSIT-3D</mat-card-subtitle>  
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>email</mat-icon>jean.sales@evsu.edu.ph</p>
        <p><mat-icon>phone</mat-icon>09217296227</p>
        <p><mat-icon>facebook</mat-icon>Jean Sales</p>
    </mat-card-content>
</mat-card>



  
  
  